.inicio_login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url('/img/bdSports.jpg'); /* Asegúrate de que esta ruta sea correcta */
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  width: 100%;
  height: 100vh;
  position: relative; /* necesario para las franjas */
}

.stripes {
  position: absolute;
  width: 100%;
  height: 110px;
  background-color: rgba(255, 255, 255, 0.89);
  display: flex;
  justify-content: center;
  align-items: center;
}

.stripe-top {
  top: 0;
}

.stripe-top img {
  height: 220px;
}